#--------------------------------------------------------------
# General configuration
#--------------------------------------------------------------

AddDefaultCharset UTF-8

RewriteEngine on
RewriteBase /

#--------------------------------------------------------------
# Directories & files protection
#--------------------------------------------------------------
 
RewriteRule \.svn/ - [F]
RewriteRule \.git/ - [F]
RewriteRule \.htaccess - [F]
RewriteRule \.ini - [F]
RewriteRule \.DS_Store - [F]
RewriteRule docs/ - [F]

#--------------------------------------------------------------
# Simple rewrite
#--------------------------------------------------------------

RewriteCond %{HTTP_HOST} ^yourdomain\.com
RewriteRule ^(.*)$ http://www.yourdomain.com/$1 [R=301,L] 

RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_URI} !=/index.php
RewriteRule ^(.*)$ index.php?url=$0 [PT,L,QSA]

#--------------------------------------------------------------
# CACHE-CONTROL : mod_expires & mod_headers
#--------------------------------------------------------------
       
#Turn on Expires and set default to 0
ExpiresActive On
ExpiresDefault A0

# Set up caching on media files for 1 month
<FilesMatch "\.(flv|ico|pdf|avi|mov|ppt|doc|mp3|wmv|wav|gif|jpg|jpeg|png|swf)$">
    ExpiresDefault A2592000
    Header append Cache-Control "public"
    Header set Pragma "public"
</FilesMatch>

#--------------------------------------------------------------
# Compression GZIP
#--------------------------------------------------------------

SetOutputFilter DEFLATE

SetEnvIfNoCase Request_URI \.(?:gif|jpe?g|png)$ \
    no-gzip dont-vary
    
SetEnvIfNoCase Request_URI \
    \.(?:exe|t?gz|zip|bz2|sit|rar)$ \
    no-gzip dont-vary
    
SetEnvIfNoCase Request_URI \.pdf$ no-gzip dont-vary

#--------------------------------------------------------------
# Unset Etags
#--------------------------------------------------------------
              
# Desactivation des etags
Header unset ETag
FileETag None   